


.btn-circle {
  width: 200px;
  height: 200px;
  line-height: 40px; /* adjust line height to align vertically*/
  padding:0;
background-color: #49C8D6;
  border-radius: 50%;
opacity: 0.8;

  border-width: 4px;
    border-style: solid;
    border-color: #99ff99;

    box-shadow: 0px 0px 60px #9999ff;

}

.title_overlay {
top: 100px;
position: absolute;
z-index: 100;
width: 100%;

}
.master_title {
font-family: 'Raleway', sans-serif;
font-size: 90px;
color: #FCB900;
position: relative;
font-weight: 700;
line-height: 75px;
}

.master_subtitle {
font-family: 'Open Sans', sans-serif;
font-size: 30px;
color: #D992FC;
font-weight: 300;
}

.try_now {
position: relative;
margin: 20% auto;
font-size: 40px;
color: #B8FFB5;

-ms-transform:rotate(-20deg); /* IE 9 */
-moz-transform:rotate(-20deg); /* Firefox */
-webkit-transform:rotate(-20deg); /* Safari and Chrome */
-o-transform:rotate(-20deg); /* Opera */


}

.bg-1 {
  background-color: #FFF957;
}
.bg-2 {
  background-color: #97CAFC;
}
.bg-3 {
  background-color: #97FCB5;
}
.bg-4 {
  background-color: #FC97F5;
}
.bg-5 {
  background-color: #FFBD42;
}
.bg-6 {
  background-color: #FFB4B0;
}

#start {
}

.content_block {
padding: 1px 20px 10px;
margin: 15px 5px;
font-size: 18px;
}
.content_title {
margin-bottom: 25px;
}
.content_block p {
font-size: 18px;
}

#signup_button {
  font-size: 30px;
  height: 60px;
}
#signup_email {
  font-size: 30px;
  height: 60px;
}

#form_section {
position: relative;
height: 80px;
}
#form_before {
height: 80px;
}

.form-control {
width: 100%;
}

#form_after {
  z-index: 0;
 position: relative;
text-align: center;
opacity: 0.0;
}

.main {
width: 100%
padding: 0;
margin: 0;
}

.container {
width: 100%;
padding: 0;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

